In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [0]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [0]:
data.describe()

# Предобработка

In [11]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [59]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# запишите свой вариант ответа
# если ответили верно, можете добавить комментарий со значком "+"

In [3]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
name_cinema = data[data.budget == data.budget.max()].original_title
display(name_cinema)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [60]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [4]:
name_cinema = data[data.runtime == data.runtime.max()].original_title
display(name_cinema)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [61]:
answers['3'] = 'Winnie the Pooh'

In [5]:
name_cinema = data[data.runtime == data.runtime.min()].original_title
display(name_cinema)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [62]:
answers['4'] = '109.6585494970884'

In [6]:
runtime_mean = data.runtime.mean()
display(runtime_mean)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [63]:
answers['5'] = '107.0'

In [10]:
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [64]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar'

In [12]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [65]:
answers['7'] = 'The Lone Ranger'

In [14]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [66]:
answers['8'] = '1478'

In [16]:
b = data[data.revenue > data.budget]
display(len(b))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [67]:
answers['9'] = 'The Dark Knight'

In [18]:
data['release_date'] = pd.to_datetime(data['release_date'])
relase_year = data.loc[data.release_date.dt.year == 2008] 
relase_year[relase_year.revenue == relase_year.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [68]:
answers['10'] = 'The Lone Ranger'

In [20]:
release_year = data['release_year']
for chek in release_year:
    if chek == 2012:
        profit_min = data[data.profit == data.profit.min()].original_title
    elif chek == 2013:
        profit_min = data[data.profit == data.profit.min()].original_title
    elif chek == 2014:
        profit_min = data[data.profit == data.profit.min()].original_title
display(profit_min)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [69]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [22]:
data2 = data.genres.apply(lambda x:x.split(sep = '|'))
display(data2.explode().value_counts())

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [70]:
answers['12'] = 'Drama'

In [24]:
profit = data[data.profit > 0].genres.apply(lambda x:x.split(sep = '|')).explode().value_counts()
display(profit)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [71]:
answers['13'] = 'Peter Jackson'

In [26]:
data['director'] = data['director'].apply(lambda x:x.split('|'))
data_director = data.explode('director')
group_director = data_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(group_director)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [72]:
answers['14'] = 'Robert Rodriguez'

In [29]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data2 = data[data.genres.str.contains('Action')]
data2['director'] = data2['director'].apply(lambda x:x.split('|'))
data2.director.explode().value_counts()

<ipython-input-29-15d3538c13ff>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['director'] = data2['director'].apply(lambda x:x.split('|'))

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Peter Spierig         1
Stephen St. Leger     1
David Bowers          1
Donald Petrie         1
Chris Williams        1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [73]:
answers['15'] = 'Chris Hemsworth'

In [31]:
data2 = data[data.release_year == 2012].copy()
data2['cast'] = data2['cast'].apply(lambda x: x.split(sep = '|'))
cast = data2.explode('cast')
cast_rich =  cast.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
display(cast_rich)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [74]:
answers['16'] = 'Matt Damon'

In [33]:
cast_budget = data[data.budget > data.budget.mean()].cast.apply(lambda x: x.split(sep = '|')).explode().value_counts()
display(cast_budget)

Matt Damon             18
Adam Sandler           17
Angelina Jolie         16
Tom Cruise             15
Eddie Murphy           15
                       ..
Rachel Bilson           1
Andrew McCarthy         1
Paul Anderson           1
Dane DeHaan             1
Hadley Belle Miller     1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [75]:
answers['17'] = 'Action'

In [35]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data2 = data[data.cast.str.contains('Nicolas Cage')]
data2['genres'] = data['genres'].apply(lambda x:x.split('|'))
data2.genres.explode().value_counts()

<ipython-input-35-bcf431b7a529>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['genres'] = data['genres'].apply(lambda x:x.split('|'))

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [76]:
answers['18'] = 'K-19: The Widowmaker'

In [38]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = data['revenue'] - data['budget']
data2 = data[data.production_companies.str.contains("Paramount Pictures")]
data2[data2['profit'] == data2['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [77]:
answers['19'] = '2015'

In [40]:
revenue = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
display(revenue)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [78]:
answers['20'] = '2014'

In [42]:
data2 = data[data.production_companies.str.contains('Warner Bros')]
revenue_yers = data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(revenue_yers)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [79]:
answers['21'] = 'Сентябрь'

In [44]:
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
month = data.groupby(['month'])['original_title'].count().sort_values(ascending=False)
display(month)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [80]:
answers['22'] = '450'

In [47]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.loc[(data.month=='6') | (data.month=='7') | (data.month=='8')]
month = data.groupby(['month'])['original_title'].count().sort_values(ascending=False)
display(month.sum())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [81]:
answers['23'] = 'Peter Jackson'

In [50]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.loc[(data.month=='1') | (data.month=='2') | (data.month=='12')]
director = data.groupby(['director'])['original_title'].count().sort_values(ascending=False)
display(director)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: original_title, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [82]:
answers['24'] = 'Four By Two Productions'

In [52]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies'] = data['production_companies'].apply(lambda x: x.split(sep = '|'))
data= data.explode('production_companies')
data['lenght'] = data['original_title'].apply(lambda x: len(x))
prod_comp = data.groupby(['production_companies'])['lenght'].max().sort_values(ascending=False)
display(prod_comp)

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: lenght, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [83]:
answers['25'] = 'Midnight Picture Show'

In [54]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data['overview'] = data['overview'].apply(lambda x:len(x))
data2 = data.explode('production_companies')
data2.groupby('production_companies').overview.mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [84]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [55]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.xls')
data.loc[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [85]:
answers['27'] = 'Daniel Radcliffe'

In [56]:
import pandas as pd
import itertools
from collections import Counter
data=pd.read_csv('movie_bd_v5.xls')
data['cast'] = data['cast'].str.split('|')
data2 = data['cast'].reset_index()
data2['acttion_pop'] = data2['cast'].apply(lambda s: list(itertools.combinations(s, 2)))
data2 = data2.explode('acttion_pop').reset_index()
Counter(data2['acttion_pop']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [87]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '27': 'Daniel Radcliffe',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.6585494970884',
 '5': '107.0',
 '17': 'Action',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [86]:
# и убедиться что ни чего не пропустил)
len(answers)

27